@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  color: rgb(255, 255, 255);
  background: rgb(0,90,128);
  background: radial-gradient(circle, rgba(0,90,128,1) 0%, rgba(39,108,191,1) 65%, rgba(147,172,204,1) 100%);
}

main.night {
  background: rgb(1,28,40);
  background: radial-gradient(circle, rgba(1,28,40,1) 0%, rgba(8,40,80,1) 65%, rgba(68,84,102,1) 100%);
}