@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: 214, 219, 220;
  --background-end: 255, 255, 255;

  --foreground-rgb-night: 255, 255, 255;
  --background-start-rgb-night: 0, 0, 0;
  --background-end-rgb-night: 0, 0, 0;
}

main {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  transition: background-color 1s;
  transition: color 1s;
}

main.night {
  color: rgb(var(--foreground-rgb-night));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb-night))) rgb(var(--background-start-rgb-night));
}
